[submodule "MCC_DAQ"]
	path = MCC_DAQ
	url = https://github.com/caileighf/MCC_DAQ.git
[submodule "cli-spectrogram"]
	path = cli-spectrogram
	url = https://github.com/caileighf/cli-spectrogram.git
[submodule "ACBOX_fabrication_files"]
	path = ACBOX_fabrication_files
	url = https://github.com/caileighf/ACBOX_fabrication_files.git
